.container {
  max-width: 36rem;
  padding: 0 1rem 5rem;
  margin: 1rem auto 6rem;
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/* .h1Title {
  text-align: center;
} */